img {
  max-width: 100%
}

body{
  font-family: 'Inconsolata', monospace;
}

.contents {
  display:none;
}

.top, .main{
  width: 100%;
}



#navlinks {
  float: left;
  border-bottom: 2px solid #ccc;
  width:100%;

  list-style: none;
  /* padding: 2em; */

}

#navlinks li {
 float: left;

 margin-right: 1em;
 padding: 1em;
 height: 2em;
 line-height:30px;
}

#navlinks li a {
  color:#666;
  text-decoration: none;
}

#navlinks li.active a {
  color: black;
}

#contactlinks{
  list-style:none;
}

#contactlinks li{

}
#contactlinks li a {
  text-decoration: none;
  margin-bottom: 1em;
}

.main {
 width: 100%
}

.contents{
  display: flex;
  flex-wrap: wrap;
}
.contents .text {
  width: 50%
}

.contents .img {
  width: 50%
}
.contact {
  order:1;
}
