img {
  max-width: 100%;
  filter: grayscale(50%);
}
#bgimg{
  width: 100%;
  position: fixed;
  filter: grayscale(75%);
  z-index: -99;
  //translate(0, 0);
}

body{
  font-family: 'Inconsolata', monospace;
  background-image: radial-gradient(gray, gray), url("images/intro.jpg");
  /* background-image: radial-gradient(gray, white); */
  background-size: cover;
  height: 100%;
  min-height: 910px;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  /* display: flex; */
  max-width: 100%;
  overflow: hidden;
}

.contents {
  display:none;
}

.main{
  width: 100%;
}

#navbar {
  width: 100%;
  order: -1;
}

#navlinks {
  float: left;
  border-bottom: 2px solid #ccc;
  width:100%;

  list-style: none;
  /* padding: 2em; */

}

#navlinks li {
 float: left;

 margin-right: 1em;
 padding: 1em;
 height: 2em;
 line-height:30px;
}

#navlinks li a {
  color:#666;
  text-decoration: none;
}

#navlinks li.active a {
  color: black;
}

#contactlinks{
  list-style:none;
}

#contactlinks li{

}
#contactlinks li a {
  text-decoration: none;
  margin-bottom: 1em;
}

.main {
 width: 100%
}

.contents{
  /* display: flex;
  flex-wrap: wrap; */
}
.contents .text {
  width: 50%;
  background: rgba(128,128,128,0.6 );
}

.contents .img {
  width: 50%
}
#contact {
  width: 100%;
  display: none;
  order: 99;
}
