html, body{
  width: 100%;
}

img {
  max-width: 100%;
  filter: grayscale(75%);
}


body{
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  font-size: 48px
}

nav ul{
  list-style: none;
  /* float: left; */
  position: fixed;
  height: 400px;
  transform: translate(0, -400px);
}



 main {
   display: none;
 }
