img {
  max-width: 100%
}

body{
  font-family: 'Inconsolata', monospace;
}

.contents {
  display:none;
}

#navlinks {
  float: left;
  border-bottom: 2px solid #ccc;
  width:100%;
  margin-bottom: 1em;
  list-style: none;
  padding: 2em;

}

#navbar{
  width: 70%;
  float:left;
}
#contact{
  width: 20%;
  float: right;
  border: 2px solid #ccc;
  padding-left: 2em;
  padding-bottom: 2em;
}
#contactlinks{
  list-style:none;

}
#contactlinks li {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#contactlinks li a{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}


 #navlinks li {
  float: left;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-right: 1em;
  padding: 1em;
  height: 2em;
  line-height:30px;
}

#navlinks li a {
  color:#666;
  text-decoration: none;
  padding: 2em;
}

#navlinks li.active a {
  color: black;

}

.contents h2{
  padding: 1em;
  text-align: center;
}

#intro img{
  width: 80%;
  padding: 10%;
  padding-top: 0;
}

#mvcode img{
  width: 49%;
  float: left;
  padding-right: 1em;
}

#derby img{
  width: 50%;
  float: right;

}

#about div{
  padding: 3em;
}

#about p {
  padding: 2em;
}
