
main {
  /* background-color: #e6ceac;
  background-image: radial-gradient(#e6ceac, #cdba94); */
  /* border-color: #8b7d62;
  border-style:solid;
  border-radius: 1% 7%;
  border-width: 3px; */
}

body {
  font-family: 'Source Serif Pro';
  background-color: #bda583;
  background-image: radial-gradient(#e6ceac, #cdba94);
  color: #292418;
}

.main-menu {
  background-color: #bda583;
  color: #292418;
}

img {
  filter: sepia(60%)
}

h1, h2, h3 {
  font-family: 'Inknut Antiqua', serif;
}

a {
  color: #524839;
  font-weight: bold;
  text-decoration: none;
}

ul li{
  border-color: #73654a ;
  border-width: 1px;
  font-size: 1.25em;
  list-style-type: none;
}
